NODE_ENV=
PORT=
CLIENT_URL=
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
VERIFICATION_MODE=
PHONE_VERIFICATION_MODE=
PHONE_VERIFICATION_WEBHOOK_URL=

# eSewa Payment Integration
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_ENVIRONMENT=development
DEFAULT_WHATSAPP_PHONE=
DEFAULT_CONTACT_ADDRESS=
DEFAULT_CONTACT_PHONE=
DEFAULT_CONTACT_EMAIL=
DEFAULT_CONTACT_MAP_URL=
DEFAULT_SOCIAL_FACEBOOK=
DEFAULT_SOCIAL_INSTAGRAM=
DEFAULT_SOCIAL_TIKTOK=
DEFAULT_SOCIAL_YOUTUBE=
